.col-width {
    width: 15%;
}

.text-center {
    text-align: center;
}

.file-name {
    margin-left: 10px;
    cursor: pointer
}

.small-icon {
    width: 1%;
    height: 1%;
}

.file-icon {
    width: 2%;
    height: 2%;
}

.directory-icon {
    width: 3%;
    height: 3%;
}

.authorization-reference {
    color: dodgerblue;
    cursor: pointer;
}

.product-header {
    margin-bottom: 25px;
}

.form-check-input-bg {
    width: 2em;
    height: 2em;
    border-radius: 0.25rem;
}

.delete-button {
    display: flex;
    align-items: center;
}

.strike-out-text {
    text-decoration: line-through;
}

.normal-text {
    text-decoration: none;
}

.logout-button {
    width: 5rem;
    height: 3rem;
    margin-top: 10px;
}